main{
   margin-left: 20%;
   margin-right: 20%;
}
h1{
    width:100% !important;
}
.heading{
    color: #C6B38E;
    text-transform: uppercase;
    letter-spacing: 0.12em;
<<<<<<< HEAD
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
=======
>>>>>>> f134f0ef2620f9dab3324b2171b1fec296aa71b7
}
.blog-text{
    line-height: 2em;
}