main {
    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    width: 100% !important;
}

.heading {
    color: #C6B38E;
    text-transform: uppercase;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.12em;
}

.blog-text {
    line-height: 2em;
}

.preserve {
    white-space: pre-wrap;
}