<<<<<<< HEAD
header{
    background: transparent;
    position: absolute;
}
.hero{
    background-color: #001F54;
    background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0)), url("/images/meteor_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
=======
.hero{
    background-color: #001F54;
>>>>>>> f134f0ef2620f9dab3324b2171b1fec296aa71b7
    color: #fff;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
<<<<<<< HEAD
    padding-top: 10%;
    height: 30rem;
    text-align: left;
}
.hero-text{
    font-size: 1rem;
    font-weight: 300;
    width: 50%;
    color: #fff;
=======
    text-align: center;
}.hero-text{
    font-size: 1rem;
    font-weight: 300;
>>>>>>> f134f0ef2620f9dab3324b2171b1fec296aa71b7
}
.add-post-title{
    text-align: center;
    color:#595454
}
.add-icon{
    fill: #C6B38E;
    width:6rem;
    display: block;
<<<<<<< HEAD
=======
    margin-top:35%;
>>>>>>> f134f0ef2620f9dab3324b2171b1fec296aa71b7
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.add-icon:hover{
    filter: brightness(0.85);

}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(23rem, auto);
    gap: 3rem;
    margin-top: 3rem;
    margin-left: 10%;
    margin-right: 10%;
}
@media (max-width: 992px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
<<<<<<< HEAD
.first-article{
  display:flex;
  align-items: center;
  justify-content: center;
}
=======
>>>>>>> f134f0ef2620f9dab3324b2171b1fec296aa71b7
.article{
background-color: hsl(0, 0%, 85%, 0.20);
border-top: #000 solid 1px;
border-left: #000 solid 1px;
border-radius: 10px;
padding: 1.5rem;
width: 25vw;
word-wrap: break-word; /* breaks long words */
overflow-wrap: break-word; /* modern standard */
}
@media (max-width: 992px) {
  .article {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .article{
    width: 80%;
  }
}
.read-more-button{
    display: flex;
    align-items: center;
    height: 1.6rem !important;
    width: max-content;
}
.more-info{
    margin-top: 1.5rem;
}
.button-container{
    display: flex;
    gap:0.2rem;
}